.contact {
    display: flex;
    justify-content: space-evenly;
    background-color:  rgb(245, 224, 106);
}
footer {
    text-align: center;
}
.navbar-brand {
    font-family: 'Londrina Outline', cursive;
}
.display-4 {
font-family: 'Gruppo', cursive;
}
.card-title {
    font-family: 'Gruppo', cursive;
}
.navbar-collapse {
    display: flex;
    justify-content: flex-end;

  
}
.jumbotron {
    background-image: url(../images/back.jpg);
}

.bg-light {
    background-color: rgb(245, 224, 106) !important;
}
